<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="userSQL">
 	<resultMap type="user" id="userResult"> <!-- DB와 DTO의 변수명?이 다를 때 -->
 		<result property="name" column="NAME" />
 		<result property="id" column="ID" />
 		<result property="pwd" column="PWD" />
 	</resultMap>
 	
 	<insert id="write" parameterType="user"> <!-- 메소드 이름 따라 id 설정 -->
 		insert into usertable values(#{name}, #{id}, #{pwd})
 	</insert>
 	
 	<delete id="delete" parameterType="String"> <!-- java.lang.String -->
 		delete usertable where id = #{id}
 	</delete>
 	
 	<!-- <select id="getUserList" resultType="user.bean.UserDTO">  -->
 	<select id="getUserList" resultMap="userResult">
 		select * from usertable
 	</select>
 	
 	<select id="getUser" parameterType="String" resultType="user">
 		select * from usertable where id = #{id}
 	</select>
 	
 	<update id="update" parameterType="java.util.Map">
 		update usertable set name = #{name}, pwd = #{pwd} where id = #{id}
 	</update>
 	
 	<select id="search" parameterType="java.util.Map" resultType="user">
 		<!-- XML => if -->
 		<!-- select * from usertable where
 		<if test="columnName == 'name'">
 			name like '%'||#{value}||'%'
 		</if>
 		<if test="columnName == 'id'">
 			id like '%'||#{value}||'%'
 		</if> -->
 		
 		<!-- XML => choose -->
 		<!-- select * from usertable where
 		<choose>
 			<when test="columnName == 'name'">
 				name like '%'||#{value}||'%'
 			</when>
 			<otherwise> when 2번 써도 됨
 				id like '%'||#{value}||'%'
 			</otherwise>
 		</choose> -->
 		
 		select * from usertable where ${columnName} like '%'||#{value}||'%'
 	</select>
 </mapper>
 
 
 
 
 
 
 